[submodule "external/poco"]
	path = external/poco
	url = https://github.com/pocoproject/poco.git
[submodule "external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
